body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #f5f5f5;
    color: #222;
}

header{
    background-color: #222;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

main{
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
}

section{
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

h1, h2{
     margin-top: 0;
}

button{
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
}

footer{
    text-align: center;
    padding: 20px;
    color: #666;
}

.translate-box {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
    margin-bottom: 20px;
}

.translate-box label {
    font-size: 16px;
    font-weight: bold;
}

.translate-box select {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}